/*  =============== 
    GENERELLE STILER 
    =============== */

/* Generelle stil for hele body området til nettsiden */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



/* Ordnet grid-container for nettsiden */
#grid-container {
    display: grid;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
}


/* Grunnleggende header stil */
header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    top: 0;
}


/* Fikset størrelse for logoen i header */
header #logo {
    width: 90px;
}


/* NAV området */
nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0; 
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #000;
   
    
}


/* Ordnet en nedre kantlinje og fet skriftstil på klassen "active", slik at
 denne stilen gjelder for hver HTML-side som bruker denne klassen i header-området. */

nav ul li a.active {
    font-weight: bold;
    border-bottom: 4px solid #e6bd43;
}


.contact {
    background-color: #e6bd43;
    font-weight: bold;
    padding: 15px;
}

/* Ordnet hover for "contact" knappen for nav området */
/* Hentat fra: https://www.w3schools.com/cssref/sel_hover.php */
.contact:hover {
    background-color: #252525;
    color: #e6bd43;
}



main {
    grid-area: main;
}


/*  ====================
    STILER FOR INDEX.HTML
    =====================
*/

/* Stiler for seksjonsklassen : Mountains */
.mountains {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    padding-top: 100px;
    position: relative;
    text-align: center;
    color: #000;
}


/* Stiler bakgrunnsvideo: Mountains */

/* Ordnet plassering for videoen - Hentet fra: https://forum.freecodecamp.org/t/top-0-left-0-vs-transform-translate-0-0/279053 */
.mountains video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;      /*Justeret på opacity slikt som på prototypen for at videoen ikke skal bli skarp*/
}


/* Justert på størrelsen og plassering av h1 */
.mountains h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    z-index: 2;
}

/* Justert størrelse for å unngå lang bredde på "p"-teskten.
Hentet inspirasjon fra: https://www.w3schools.com/cssref/css3_pr_word-wrap.php*/
.mountains p {
    max-width: 700px;
    word-wrap: break-word;
}

/* Justering av knappen ved videoen  */
.mountains .btn {
    margin-top: 1rem;
    padding: 10px 30px;
    background-color: #f1c40f;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}


/* Fjerner bildet fra dekstop versjon */
.seoul-image {
    display: none;
}


/* Ordnet hover til knappen med bestemt fargekode */
.btn:hover {
    background-color: #252525;
    color: #f1c40f;
}

/* Stiler for intro seksjonen (teksten som er under mountains seksjon) */
.intro {
    margin-top: 3rem;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Stil for h2 i intro seksjon */
.intro h2 {
    font-size: 36px;
    margin-bottom: 2.5rem;
}


/* Stil for p i intro seksjon */
.intro p { 
    font-size: 20px;
    margin-bottom: 5rem;
}


/* Justertinger for about kategori */
.about {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #e6bd43;
    padding: 3rem;
}


.about-text {
    margin-top: 5rem;
    margin-left: 2rem;
}


/* Justeringer for placeholder */
.about-image {
    width: 400px;
    height: 400px;
    background-color: #fff;
}

.about-title {
    font-size: 20px;
    color: #000;
    margin-bottom: 1.5rem;
}

.about-description {
    font-size: 20px;
}

.about-btn2 {
    padding: 10px 20px;
    margin-top: 2rem;
    background-color: #e6bd43;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #000;
}


/* Ordnet knappen som er i hoveret i about seksjonen */
.about-btn2:hover {
    background-color: #252525;
    color: #e6bd43;
}

/* Justerer på størrelsen til ikonene */
.fa-users, .fa-cloud-upload-alt, .fa-code, .fa-wifi {
    font-size: 35px;
}

/* Services */
.services {
    padding: 3rem;
    display: flex;
    flex-direction: row;
    gap:50px;
}

.our-services {
    font-size:40px;
    padding:2rem;
    text-align:center;
}


.service {
    text-align: center;
}


/* Newsletter section */
.newsletter {
    background-color: #ececec;
    text-align: center;
    padding: 3rem;
}



.newsletter input[type="email"] {
    padding: 0.6rem;
    margin-right: 0.5rem;
    border: none;
}

.btn3 {
    padding: 0.6rem;
    cursor: pointer;
    border:none;
    background-color: #e6bd43;
    font-weight: bold;
}

.email-1 {
    display:flex;
    flex-direction:row;
    justify-content: center;
}

.btn3:hover{
    background-color: #252525;
    color: #e6bd43;
}


/* STIL FOR FOOTER */

footer {
    grid-area:footer;
    background-color: #333; /* Endre til fargen som brukes i foten din */
    color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:3rem;
}

#footer-logo {
    /* Juster størrelsen på logoen etter behov */
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

#social-icons {
    list-style: none;
    padding: 0;
    display: inline-block; /* Eller flex for bedre kontroll */
}

#social-icons li {
    display: inline; /* Eller inline-block */
    margin-right: 10px; /* Juster mellomrommet mellom ikonene */
}

#social-icons li a {
    color: white; /* Ikonfargen */
    text-decoration: none;
    font-size: 24px; /* Størrelsen på ikonene */
}


/* Stil for tilbake til toppen-knapp */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #252525; 
    color: #fff; 
    font-size: 16px;
    padding: 10px; /* Polstring rundt tekst og ikon */
    border-radius: 4px; /* Avrundede hjørner */
    cursor: pointer; /* Musepekeren blir en hånd når du holder over */
    height: 45px; /* Høyde på knappen */
    display: flex; /* Bruker flexbox for å plassere ikonet */
    align-items: center; 
    justify-content: center; 
}

/* Stil for ikonet i knappen */
.back-to-top i {
    font-size: 24px; /* Størrelse på selve pilen */
}


/*  =============================
    STILER FOR INDEX.HTML (mobil)
    ==============================
*/

/* Media Queries for Mobile Version (Max Width: 768px) */
@media only screen and (max-width: 768px) {
    /* Justerer grid-layouten for mobilvisning */
    #grid-container {
        display: grid;
        grid-template-columns: 1fr; /* Setter grid til en enkel kolonne */
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    /* Tilpasser Header for Mobil */
    header {
        grid-area: header;
        display: flex;
        flex-direction: column;
        align-items: center; /* Sentrerer elementene */
    }

    /* Tilpasser Navigasjon for Mobil */
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
    }

    nav ul li {
        padding: 0.5rem;
        text-align: center;
    }

    /* Tilpasser Main Seksjonen for Mobil */
    main {
        grid-area: main;
    }

    /* Fjerner mountains video for mobilvisning */
    .mountains video {
        display: none;
    }

    /* Tilpasser .mountains klassen for Mobil */
    .mountains {
        align-items: center;
        padding-top: 0; /* fjerner øvre padding */
        text-align: center;
        font-size:18px;
        padding:3rem;
        

    }


    /* Viser Seoul-bildet på mobil */
    .seoul-image {
        display: block;
        position: absolute;
        width: 100%;
        height: 450px;
        padding:0;
        object-fit: cover;
        filter: brightness(60%);
        z-index:-1; /*Plasserer bildet bak andre elementer*/
    }

    .mountains h1, .mountains p {
        color: #fff;
    }

    /* Tilpasser About Seksjonen for Mobil */
    .about {
        flex-direction: column; /* Vertikal layout på mindre skjermer */
    }

    .about-image {
        width: 100%; /* Gjør bildet full bredde på små skjermer */
        max-width: 600px; /* Begrenser maks bredde for å unngå for stort bilde */
        height: auto; /* Justerer høyden automatisk */
    }

    .about-btn2 {
        margin-top: rem;
    }

  
    /* Tilpasser Services for Mobil */
    .services {
        flex-direction: column;
        margin-top:-1rem;
    }


    .newsletter h2{
        text-align: center;
        font-size: 23px;
    }
    
   
    /* Tilpasser Footer for Mobil */
    footer {
        grid-area: footer;
        display: flex; /* Aktiverer flexbox layout */
        flex-direction: column;
        align-items: center; /* Sentrerer elementene */
    }

    /* Justerer sosiale medier ikoner for mobil */
    #social-icons li {
        display: block; /* Setter sosiale medier ikoner under hverandre */
        margin-top:1rem; /* Sentrerer ikonene */
    }

    /* Justerer "Tilbake til toppen"-knappen for Mobil */
    .back-to-top {
        right: 10px; /* Mindre margin fra høyre kant */
        bottom: 10px; /* Mindre margin fra bunn kant */
        height: 45px; /* Mindre høyde */
        font-size: 14px; /* Mindre skriftstørrelse */
    }

    .back-to-top i {
        font-size: 20px; /* Mindre ikonstørrelse */
    }
}



/*  =============================
        STIL FOR PRODUCTS.HTML
    =============================
*/


/* Portfolio området  */
.portfolio-intro {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;
    color: #000;
    position: relative; /* Legger til relativ posisjon for barnas plassering */
}

.portfolio-intro img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
}


/* Plassering av barne elementer sentralt. Hentet fra: https://www.freecodecamp.org/news/how-to-center-anything-with-css-align-a-div-text-and-more/ */
.portfolio-intro h1 {
    margin: 0;
    position: absolute; /* Plasser h1 absolutt */
    top: 50%;
    left: 50%; /* Sentrer horisontalt innenfor .portfolio-intro */
    transform: translate(-50%, -50%); /* Sentrer både vertikalt og horisontalt */
    font-size: 40px;
}


/* Stiler for explore previous jobs*/
.explore{
    border-bottom: solid 3px #e6bd43;
    padding-bottom:1rem;
    padding-top:1rem;
    margin: 2rem;

}

/* Ramme rundt portfolio navigeringsområdet */

.portfolio-navigation ul {
    margin:2rem;
    padding-top: 2rem; 
}


.portfolio-navigation a {
    border: 2px solid #000;
    text-decoration: none;
    padding: 0.5rem;
}

.portfolio-navigation a:hover {
    background-color: #252525; /* Correct property for setting background color */
    color: #e6bd43;
}


/* BRANDING OMRÅDET */


/* Fikser underlinje for branding delen */
.branding-title {
    border-bottom: solid 3px #e6bd43;
    margin: 2rem;
    padding-bottom:1rem;
    padding-top:2rem;
}

  


/* DESIGN OMRÅDET */

.design-title{
    border-bottom: solid 3px #e6bd43;
    margin: 2rem;
    padding:1rem;
}



/* Development området */

.development-title{
    border-bottom: solid 3px #e6bd43;
    margin: 2rem;
    padding:1rem;
}


/* FELLES STILER FOR ALLE 3 ULIKE SEKSJONENE */

#branding, #design, #development {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 2rem;
    box-sizing: border-box;
  }
  
  #branding article, #design article, #development article {
    /* Kode hentet fra: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout/Controlling_ratios_of_flex_items_along_the_main_axis */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 30%;
    max-width: 692px; /*Setter på max-widht slikt at placeholders ikke blir større enn 629px*/
  }
  
  #branding article img, #design article img, #development article img {
    width: 100%; 
    height: auto;
    display: block;
  }
  

  /* HOVER EFFEKT PÅ PLACEHOLDERSENE */
/* Kode for hover effekt. Hentet fra: https://thoughtbot.com/blog/transitions-and-transforms */
  #branding article:hover, #design article:hover, #development article:hover {
    transform: scale(1.05); /* Lett zoom-effekt */
    transition: all 0.3s ease-in-out; /* Gjør overgangen glatt */
}






/*  =============================
        STIL FOR ABOUT.HTML
    =============================
*/
/* Gjør bakgrunnselementet til en flex-container */
.about-company {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

/* Stil for bakgrunnsbildet til about siden */
.background-image {
    width: 100%;
    height: 400px;
    filter:brightness(50%);
    object-fit: cover;
    position: relative;
    z-index: -1;
}

/* Stil for den "ille boksen" på bildet. */
.about-info {
    position: absolute;
    background: rgba(255, 255, 255, 0.827);
    width: 40%; 
    padding:2rem;
    margin-right: 5%;
    box-sizing: border-box;
}



/* Stil for tekster i den lilel boksen */

.about-info h1 {
    font-size: 0.8rem;
    font-weight: lighter;
    margin-bottom: 0.8rem;
}

.about-info h2 {
    font-weight: bold;
    font-size: 1rem;

}

.about-info p {
    line-height: 1.4;
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
}

/* Stiler for knappen i "lille boksen" */
.readmore-btn {
    background-color: #e6bd43;
    color: #000;
    padding: 0.7rem 0.5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8rem;
    display: inline-block; /* Gjør at elementet kan ha margin og padding */
}

.readmore-btn:hover {
    background-color: #252525;
    color: #e6bd43;
}
  
  .readmore-btn:hover {
    background-color: #252525;
    color: #e6bd43;
  }
  

  

/* Services */
.services-2 {
    padding: 3rem;
    display: flex;
    flex-direction: row;
    gap:50px;
}

.our-services-2{
    font-size:40px;
    text-align:center;
}


.service-2{
    text-align: center;
}



/* Our clients */


.client-section {
    background-color: #e6bd43; 
    padding: 30px; 
    text-align: center;
  }
  
  .client-section h2 {
    color: #000; 
    margin-bottom: 20px;
    font-size: 35px;
  }
  
  .client-logo {
    max-width: 100px; 
    height: auto; 
    margin: 2.5rem;
    display: inline-block;
  }




/* Contact us  */

/* CSS kode hentet fra: https://www.w3schools.com/howto/howto_css_contact_form.asp */
.contact-form {
    max-width: 1200px; /* Juster bredden etter behov */
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between; /* Dette sprer de to seksjonene fra hverandre */
  }
  
  .h2-contact {
    text-align: center;
    font-size: 2em; 
    padding: 2rem;
  }
  
  .submit-message, .contact-info {
    width: 48%; /* Gjør at hver seksjon tar opp omtrent halvparten av den tilgjengelige bredden */
  }
  
  .submit-message h3, .contact-info h3 {
    margin-bottom: 2rem;
  }
  
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"], textarea {
    margin-bottom: 20px; /* Legger til mellomrom mellom feltene */
    padding: 10px; /* Legger til litt polstring inne i feltene */
    border: 1px solid #ccc; /* Setter en border for input-feltene */
  }
  
  button[type="submit"] {
    padding: 1rem;
    width: 25%;
    background-color: #e6bd43; 
    color: #000;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #252525; /* Mørkere farge på hover */
    color: #e6bd43;
  }



  /* Kontakt info delen */

  .contact-info p {
    margin: 10px 0;
  }
  
  .contact-info i {
    margin-right: 10px; /* Legger til litt mellomrom mellom ikonet og teksten */
  }
  




/* Google map */

.google-map {
    padding-top: 20%;
    position: relative;

}

.google-map iframe {
    height: 300px;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}


/*  =============================
    STILER FOR ABOUT.HTML (mobil)
    ==============================
*/
@media only screen and (max-width: 768px) {
    /* Flex container */
    .about-company {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    /* Content */
    .content {
        width: 80%; /* Økt bredde */
        padding: 20px; /* Justert padding */
        margin: 0 auto; /* Sentrerer boksen */
        top: 50%;
        transform: translateY(-50%);
    }

    /* Tekst */
    .about h1, .about h2 {
        font-size: medium; /* Tilpasset skriftstørrelse */
    }

    /* Knapper */
    .readmore-btn {
        padding: 8px 15px; /* Mindre padding */
        font-size: small; /* Mindre skriftstørrelse */
    }

    /* Services */
    .services-2 {
        flex-direction: column;
        padding: 1rem;
    }
}

